@model Kundur_Meghna_HW3.Models.SearchViewModel

@{
    ViewData["Title"] = "DetailedSearch";
}

<h1>DetailedSearch</h1>

<hr />
<div class="row">
    <form asp-action="DisplaySearchResults">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RepositoryName" class="control-label"></label>
            <input asp-for="RepositoryName" class="form-control" />
            <span asp-validation-for="RepositoryName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <select asp-for="Category" asp-items="Html.GetEnumSelectList<Category>()" class="form-control">
                <option selected="selected" value="">All Categories</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Language" class="control-label"></label>
            @Html.DropDownListFor(model => model.Language, (SelectList)ViewBag.AllLanguages, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label asp-for="StarCount" class="control-label"></label>
            <input asp-for="StarCount" type="number" step="0.1" class="form-control" />
            <label asp-for="StarCount" class="control-label"></label><br />
            <input type="radio" class="radio" asp-for="StarOrder" value="@StarOrder.greaterThan" /> Greater Than<br />
            <input type="radio" class="radio" asp-for="StarOrder" value="@StarOrder.lessThan" /> Less Than<br />
        </div>
        <div class="form-group">
            <label asp-for="UpdatedAfter" class="control-label"></label>
            <input asp-for="UpdatedAfter" class="form-control" />
            <span asp-validation-for="UpdatedAfter" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

